// Primary Colors

$darkBlueIntroAndSignUp: hsl(217, 28%, 15%);
$darkBlueMainBackGround: hsl(218, 28%, 13%);
$darkBlueFooterBackground: hsl(216, 53%, 9%);
$darkBlueTestimonials: hsl(219, 30%, 18%);

// Accent
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightRed: hsl(0, 100%, 63%);

.open-sans {
    font-family: "Open Sans", sans-serif;
}
.raleway {
    font-family: "Raleway", sans-serif;
}
